@model sports_hub.Models.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "_ProfileLayout";
}
@if (ViewBag.MessageDisplay != null)
{
    <div class="notification" style="display: @ViewBag.MessageDisplay">
        <div class="notification-side">
            <div class="notification-img"></div>
        </div>
        <div class="notification-side">
            <div id="notification-title">@ViewBag.MessageTitle</div>
            <div id="notification-content">@ViewBag.MessageContent</div>
        </div>
        <div class="notification-side">
            <div id="notification-close" onclick="closeMessage()">x</div>
        </div>
        <div class="clear"></div>
    </div>
}
<div id="change-password" class="tabcontent">
    <form asp-action="ChangePassword" class="user_login_form">
        <div asp-validation-summary="All" class="input_error">
            @if (ViewBag.NewPasswordErrorMessageDisplay != null)
            {
                <ul style="display: @ViewBag.NewPasswordErrorMessageDisplay">
                    <li>@ViewBag.ThirdPartyErrorMessage</li>
                </ul>
            }
        </div>
        <input asp-for="Code" type="hidden" />
        <input asp-for="UserId" type="hidden" />
        <div class="form-group">
            <label asp-for="OldPassword" class="cred_label">Old Password</label>
            <input asp-for="OldPassword" id="old-pass-input" class="cred_input" placeholder="Enter your old password here" />
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="cred_label">New Password</label>
            <input asp-for="NewPassword" id="new-pass-input" class="cred_input" placeholder="6 + characters (letters and numbers)" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="cred_label">Password Confirmation</label>
            <input asp-for="ConfirmPassword" class="cred_input" placeholder="Enter new password again" />
        </div>
        <div>
            <button type="submit" class="submit_button">Change password</button>
        </div>
    </form>
</div>
<script src="~/js/ProfileScript.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

