@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model sports_hub.Models.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LoginLayout";
}
<head>
    <link rel="stylesheet" href="~/css/Account/password-reset.css" />
    <title>@ViewData["Title"]</title>
</head>
<form method="post" class="user_login_form">
    <h2 class="form_title">@Localizer["Title"]</h2>
    <div asp-validation-summary="All" class="input_error"></div>
    <input asp-for="Code" type="hidden" />
    <input asp-for="UserId" type="hidden" />
    <div class="form-group">
        <label asp-for="Password" class="cred_label" >@Localizer["NewPassword"]</label>
        <input asp-for="Password" class="cred_input" placeholder="New password" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="cred_label">@Localizer["ConfirmPassword"]</label>
        <input asp-for="ConfirmPassword" class="cred_input" placeholder="Confirm password" />
    </div>
    <div>
        <button type="submit" class="submit_button">@Localizer["SubmitButton"]</button>
    </div>
    <a href="/account/login" class="back_to_signin">@Localizer["BackToLogIn"]</a>
</form>